@media screen and (min-width: 544px) and (max-width: 1024px) {
    .sidebar {
        top: 0;
        left: 0;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #2b2e33;
    }

    .logo {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../../images/logo.svg");
    }

    .sidebar-content {
        display: none;
    }

    .sidebar-header .search-placeholder {
        display: block;
    }

    .map-control-br {
        right: 10px;
        bottom: 20px;
        position: absolute;
    }
    
    .map-control-tr {
        right: 10px;
        top: 20px;
        position: absolute;
    }
}