@media screen and (min-width: 1025px) {
    .lp-wrapper {
        height: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid green;
    }

    .lp-wrapper:before {
        background-color: #e67e22;
        content: '';
        height: 200px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .lp-window {
        height: 100%;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 10px;
        max-width: 450px;
        background-color: #FFF;
        border-radius: 3px;
        box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }

    .qr-placeholder {
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(102, 111, 116, 0.5); 
    }

    .qr-code {
        display: block;
        width: 300px;
        height: 300px;
        padding: 30px 0 0;
        margin-left: auto;
        margin-right: auto;
    }

    .qr-description {
        width: 255px;
        font-size: 13px;
    }
    
    .qr-description > p {
        margin-top: 0;
    }

    .logo-placeholder {
        display: block;
        position: absolute;
        top: 15px;
        left: 30px;
        width: 150px;
        height: 150px;
    }

    .logo {
        width: 150px;
        height: 150px;
        background-image: url("../../images/logo.svg");
    }

    .logo-placeholder > h3 {
        margin: 5px 0px 10px 40px;
        letter-spacing: 5px;
        color: rgba(255, 255, 255, 0.5);
    }

    .form {
        display: block;
        padding: 40px 40px;
    }
}

