@media screen and (min-width: 544px) and (max-width: 1024px) {
    .lp-wrapper {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .lp-wrapper:before {
        content: none;
    }
}