@media screen and (max-width: 543px) {
    /* .page-wrapper:before {
        content: none;
    } */

    .logo-placeholder {
        display: block;
        margin-top: 30px;
        width: 150px;
        height: 180px;
    }

    .logo {
        width: 150px;
        height: 150px;
        background-image: url("../../images/logo-orange.svg");
    }

    .logo-placeholder > h3 {
        margin: 5px 0px 10px 40px;
        letter-spacing: 5px;
        color: rgba(230, 126, 34, 0.5);
    }

    .qr-placeholder {
        display: none;
    }

    .form {
        display: block;
        padding: 40px 40px;
    }
}

@media screen and (max-height: 414px) {
    .logo-placeholder {
        display: none;
    }
}