<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Курсовая, вёрстка."> 
    <title>Курсовая, вёрстка.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ui.css">
    <link rel="stylesheet" href="css/ip.css">
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
</head>
<body>
    <div class="page-wrapper">
        <div id="map"></div>
        <div class="map-control map-control-tr btn-group shadow">
            <input class="btn" type="button" value="+" onclick="window.mymap.zoomIn();"/>
            <input class="btn" type="button" value="-" onclick="window.mymap.zoomOut();"/>
        </div>
        <div class="map-control map-control-tl sidebar shadow">
            <!-- header -->
            <div class="sidebar-header shadow">
                <div class="logo-placeholder">
                    <div class="logo center" onclick="window.mymap.search();"></div>
                </div>
                <div class="search-placeholder">
                    <input class="form-control" type="search" placeholder="Поиск"/>
                </div>
            </div>
            <!-- header -->
            <!-- content -->
            <div class="sidebar-content full-height hidden">
                <ul class="search-result">
                    <li class="text-green"><a href="#">5cb96bb623d61302f837af3c</a></li>
                    <li class="text-green"><a href="#">5cb96bf20870b9afedeea832</a></li>
                    <li class="text-blue"><a href="#">5cb96bfe543d55fc014c0545</a></li>
                    <li class="text-red"><a href="#">5cb96c0b2a31fc0f2cdc173c</a></li>
                    <li class="text-blue"><a href="#">5cb96c2d4a9af2184fe744fa</a></li>
                    <li class="text-yellow"><a href="#">5cb96c5a2cfa3593d80e4563</a></li>
                    <li class="text-yellow"><a href="#">5cb96c6c4e04df9e2ddd686e</a></li>
                    <li class="text-green"><a href="#">5cb96c38f759f80178e4634d</a></li>
                    <li class="text-blue"><a href="#">5cb96c527ed99ef229e08f02</a></li>
                    <li class="text-red"><a href="#">5cb96c4664a329c08e7eb0b1</a></li>
                </ul>
            </div>
            <!-- content -->
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/5cb96bb623d61302f837af3c.geojson"></script>
    <script type="text/javascript" src="js/5cb96bf20870b9afedeea832.geojson"></script>
    <script type="text/javascript" src="js/5cb96bfe543d55fc014c0545.geojson"></script>
    <script type="text/javascript" src="js/5cb96c0b2a31fc0f2cdc173c.geojson"></script>
    <script type="text/javascript" src="js/5cb96c2d4a9af2184fe744fa.geojson"></script>
    <script type="text/javascript" src="js/5cb96c38f759f80178e4634d.geojson"></script>
    <script type="text/javascript" src="js/5cb96c4664a329c08e7eb0b1.geojson"></script>
    <script type="text/javascript" src="js/5cb96c527ed99ef229e08f02.geojson"></script>
    <script type="text/javascript" src="js/5cb96c5a2cfa3593d80e4563.geojson"></script>
    <script type="text/javascript" src="js/5cb96c6c4e04df9e2ddd686e.geojson"></script>
</body>
</html>