<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Курсовая, вёрстка."> 
    <title>Курсовая, вёрстка.</title>
    <link rel="stylesheet" href="css/lp/lp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="lp-wrapper">
        <div class="lp-window">
            <div class="qr-placeholder">
                <img src="images/qr-code.svg" class="qr-code center"/>
                <div class="qr-description center">
                    <p>Используйте QR код для автоматической авторизации.</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <div class="lp-wrapper">
        <div class="lp-window">
            <div class="row">
                <div class="col-12">
                    <img src="images/qr-code.svg" class="qr-code center"/>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <form method="GET" action="index.html" class="user-form">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Адрес электронной почты" title="" required/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Пароль" required/>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-danger">Вход</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</body>
</html>