

.sidebar-header {
    display: block;
    padding: 10px 10px;
    background-color: #2b2e33;
}

.sidebar-header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.logo-placeholder {
    display: block;
    float: left;
}

.search-placeholder {
    display: block;
    padding-left: 10px;
    margin: 0 0 0 30px;
}

.search-placeholder input:focus.form-control {
    box-shadow: none;
}

/* card */
.card {
    /* border: #2980b9 0.5px solid; */
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.card-header {
    padding: 5px 10px;
    /* background-color: #2980b9; */
    /* color: #ffffff; */
    font-weight: 800;
}

.card-content {
    padding: 10px;
}

.card-footer {
    /* background-color: rgba(189, 195, 199, 0.3); */
}

.footer-panel {
    padding: 5px;
}

.footer-panel .panel-element {
    display: inline-block;
    font-size: 10px;
}

.panel-element .field-name {
    font-weight: bold;
    color: #000000;
}


@media screen and (min-width: 1025px) {
    /* .sidebar {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 400px;
        background-color: #ecedee;
    }

    .sidebar-content {
        display: block;
        padding: 10px;
        background-color: #ecedee;
    } */

    

    /* .logo {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../../images/logo.svg");
    }*/

    /* .logo-placeholder {
        display: block;
        float: left;
    } */

    /*.sidebar-header .search-placeholder {
        display: block;
        padding-left: 10px;
    } */
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
    .sidebar {
        top: 0;
        left: 0;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #2b2e33;
    }

    .logo {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../../images/logo.svg");
    }

    .sidebar-content {
        display: none;
    }

    .sidebar-header .search-placeholder {
        display: block;
    }
}

@media screen and (max-width: 543px) {
    .sidebar {
        top: 0;
        left: 0;
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #2b2e33;
    }

    .sidebar-content {
        display: none;
    }

    .logo {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url("../../images/logo.svg");
    }

    /* .logo-placeholder {
        display: block;
        float: left;
    } */

    .sidebar-header .search-placeholder {
        display: block;
        padding-left: 10px;
    }
}