.sidebar {
    width: 400px;
    background-color: #ecedee;
}

.sidebar-header {
    display: block;
    padding: 10px 10px;
    background-color: #2b2e33;
}

.sidebar-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.logo {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../images/logo.svg");
}

.sidebar-header:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.logo-placeholder {
    display: block;
    float: left;
}

.search-placeholder {
    display: block;
    padding-left: 10px;
    margin: 0 0 0 30px;
}

.search-placeholder input:focus.form-control {
    box-shadow: none;
}

.search-result {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.search-result > li > a {
    display: block;
    padding: 8px 16px;
    margin: 0 5px;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s linear;
}

.search-result > li + li > a {
    border-top: 1px solid rgba(43, 46, 51, .3);
}

.search-result > li > a:hover {
    background-color: #ffffff;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
    .sidebar {
        width: 100%;
    }

    .sidebar-header .search-placeholder {
        display: block;
    }

    .search-result > li {
        display: inline-block;
    }
}

@media screen and (max-width: 543px) {
    .sidebar {
        /* height: 100%; */
        width: 100%;
    }

    .sidebar-content {
        height: 100%;
    }

    .sidebar-header .search-placeholder {
        display: block;
        padding-left: 10px;
    }
}